.playground-container {
    display: flex;
    width: 80%;
}

.editor-border {
    /* size */
    width: 60%;
    /* alignment */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.editor-pane {
    height: 100%;

    border: 1px solid #404040;
    transition: all 0.5s ease;
}

.editor-pane:focus {
    border: 1px solid transparent;
    transition: all 0.15s ease;
}

.editor-pane:hover {
    border: 1px solid transparent;
    transition: all 0.5s ease;
}

.soln-border {
    flex: 1;
    display: flex;
    flex-flow: column;

    padding-top: 30px;
    padding-right: 30px;
}

.soln-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* font-size: 16pt; */
    flex-basis: 90%;
    flex-shrink: 0;
    
    color: #D0D0D0;
    /* background-color: #202028C0; */
}

.toggle-border {
    flex: 1;
    display: flex;
}

.soln-toggle {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.soln-header {
    display: flex;
    align-items: left baseline;
    width: 100%;
}

.toggle-option-border {
    flex: 1;
    display: flex;

    width: 48%;
}

.toggle-option-border.l {
    padding-right: 15px;
}

.toggle-option-border.r {
    padding-left: 15px;
}

.toggle-option {
    /* alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    /* size */
    width: 100%;

    /* coloring */
    background: linear-gradient(to right, #D0D0D0 50%, #00000000 50%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: all 0.45s ease;

    border: 1px solid #404040;
}

.toggle-option:hover {
    color: #202028;
    background-position: left bottom;
}

.sym-soln-entry {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, #D0D0D0 50%, #00000000 50%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: all 0.45s ease;
}

.sym-soln-entry:hover {
    color: #202028;
    background-position: left bottom;
}