@import './article-style.css';

:root {
    color: white;
    background-color: black;
}

@font-face {
    font-family: 'FiraCode';
    src: url('assets/fonts/FiraCode-SemiBold.ttf');
}

@font-face {
    font-family: 'TeXGyreHeros';
    src: url('assets/fonts/texgyreheros-regular.otf');
}

[contenteditable] {
    outline: 0px solid transparent;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.outermost {
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* size */
    height: 100vh;
    width: 100%;
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    /* background-color: #808080B0; */
}

.titlebar-container {
    position: sticky;
    top: 30px;

    display: flex;
    justify-content: center;

    z-index: 1;
}

.titlebar {
    /* size */
    height: 60px;
    width: 80%;
    /* alignment */
    top: 15px;
    background-color: #3F3F3FCC;
    border-radius: 15px;

    display: flex;
    align-items: center;
    padding-left: 15px;
}

.title-inner {
    display: flex;
    align-items: center;
}

.title {
    /* cool font */
    font-family: 'TeXGyreHeros';
    font-size: 30px;
    /* alignment */
    padding-left: 7px;
}

.navbar {
    font-family: 'TeXGyreHeros';
    font-size: 25px;

    margin-left: auto;
    order: 2;
}

.navbar span {
    color: white;

    padding-right: 15px;
    padding-left: 15px;

    background: linear-gradient(to right, #b7ff3b 50%, #00000000 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.15s ease;
}

.navbar span:hover {
    color: #3F3F3F;
    background-position: left bottom;
}

.version-tag {
    font-size: 15px;
}

.app-view {
    flex: 1;
    display: flex;
    flex-direction: row;

    font-family: 'FiraCode';
    color: #D0D0D0;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.clickable {
    cursor: pointer;
}

/* .debug { border: 1px solid red; } */