# Cabal/Haskell build 
dist-newstyle
build_log.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# NodeJS/TypeScript modules and build
dist
node_modules
src/wasi

# VSCodeCounter output
.VSCodeCounter

# notes
.notes