# Cabal/Haskell build 
dist-newstyle
build_log.txt

# VSCodeCounter output
.VSCodeCounter

# NodeJS/TypeScript
node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
