:root {
    color: #606868;
    background-image: url('assets/images/hud-grid-pattern-background-04_758394-54-3854030843-edited-dark2.png');
}

@font-face {
    font-family: 'Minimalhard';
    src: url('assets/fonts/Minimalhard2-9YxK.ttf');
}

@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('assets/fonts/IBMPlexMono-Regular.ttf');
}

[contenteditable] {
    outline: 0px solid transparent;
}

.outermost {
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* size */
    height: 100vh;
    width: 100%;
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.titlebar {
    /* size */
    height: 80px;
    width: 100%;
    /* alignment */
    padding-left: 30px;
    /* padding-top: 15px; */
}

.title {
    /* cool font */
    font-family: 'MinimalHard';
    font-size: 80px;
    /* alignment */
    padding-left: 7px;
}

.title-alt {
    /* text color for CAS in CASsie */
    color: rgb(255, 0, 162);
}

.version-tag {
    font-size: 20px;
}

.app-view {
    flex: 1;
    display: flex;
    flex-direction: row;

    font-family: 'IBMPlexMono-Regular';
    color: #d0d0d0;
    /* background-color: black; */
}

.editor-border {
    /* size */
    width: 60%;
    /* alignment */
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.editor-pane {
    font-size: 16pt;
    border: 1px solid #d0d0d0;
    color: yellowgreen;
    background-color: #202028C0;

    height: 100%;
}

.soln-border {
    /*  */
    flex: 1;
    display: flex;
    flex-flow: column;

    padding-bottom: 30px;
    padding-right: 30px;
}

.soln-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16pt;
    flex-basis: 80%;
    flex-shrink: 0;
    border: 1px solid #d0d0d0;
    color: yellowgreen;
    background-color: #202028C0;
}

.toggle-border {
    flex: 1;
    display: flex;
}

.soln-toggle {
    flex: 1;
    display: flex;
    flex-direction: row;

    padding-top: 30px;
}

.toggle-option-border {
    flex: 1;
    display: flex;

    width: 48%;
}

.toggle-option-border.l {
    padding-right: 15px;
}

.toggle-option-border.r {
    padding-left: 15px;
}

.toggle-option {
    /* alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    /* size */
    width: 100%;
    /* coloring */
    background: linear-gradient(to right, #d0d0d0 50%, #202028C0 50%);
    border: 1px solid #d0d0d0;
}

.toggle-option:hover {
    color: #202028;
}

.sym-soln-entry {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, yellowgreen 50%, #00000000 50%);
    transition: all 0.2s ease;
}

.sym-soln-entry:hover {
    color: #202028;
}

.quick-fill {
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease;
}

.quick-fill:hover {
    background-position: left bottom;
}

.clickable {
    cursor: pointer;
}

/* .debug { border: 1px solid red; } */