:root {
    color: #606868;
    background-color: #202028;
}

@font-face {
    font-family: 'Minimalhard';
    src: url('assets/fonts/Minimalhard-yw2Y.ttf');
}

@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('assets/fonts/IBMPlexMono-Regular.ttf');
}

[contenteditable] {
    outline: 0px solid transparent;
}

.outermost {
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* size */
    height: 100vh;
    width: 100%;
    /* alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.titlebar {
    /* size */
    height: 80px;
    width: 100%;

    padding-left: 30px;
    padding-top: 15px;
}

.title {
    /* cool font B) */
    font-family: 'MinimalHard';
    font-size: 80px;

    padding-left: 7px;
}

.title-alt {
    /* color for CAS in CASsie */
    color: mediumvioletred;
}

.version-tag {
    font-size: 20px;
}

.app-view {
    flex: 1;
    display: flex;
    flex-direction: row;

    font-family: 'IBMPlexMono-Regular';
    color: #d0d0d0;
    /* background-color: black; */
}

.editor-border {
    width: 60%;
    padding: 30px;
}

.editor-pane {
    font-size: 16pt;
    border: 1px solid #d0d0d0;
    color: yellowgreen;

    height: 100%;
}

/* .editor-pane * {
    filter: drop-shadow(3px, 3px, 3px);
    caret-shape: block;
} */

.soln-border {
    flex: 1;
    display: flex;
    flex-flow: column;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.soln-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16pt;
    flex-basis: 85%;
    flex-shrink: 0;
    border: 1px solid #d0d0d0;
    color: yellowgreen;
}

.toggle-border {
    flex: 1;
    display: flex;
}

.soln-toggle {
    flex: 1;
    display: flex;
    flex-direction: row;

    padding-top: 30px;
}

.toggle-option-border {
    flex: 1;
    display: flex;

    /* padding-top: 15px; */
    width: 48%;
}

.toggle-option-border.l {
    padding-right: 15px;
}

.toggle-option-border.r {
    padding-left: 15px;
}

.toggle-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: yellowgreen;
    border: 1px solid #d0d0d0;
}

.toggle-option:hover {
    color: #202028;
    background-color: #d0d0d0;
}

/* .debug { border: 1px solid red; } */